.center {
  text-align: center;
  line-height: heightValue;

  &:not(:first-of-type) {
    margin: {
      top: 8px;
    }
  }
}

.content {
  margin: 0 auto;
  max-width: 350px;
}

.m {
  &-t {
    &-32 {
      margin: {
        top: 32px;
      }
    }
  }
}

.w {
  &-full {
    width: 100% !important;
  }
}

.mat-mdc-slider {
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.bottom {
  margin: {
    bottom: 200px;
  }
}
